{% extends 'attendance/lecturer/base.html' %}

{% block page_title %}
Edit Student
{% endblock page_title %}
{% block main_content %}
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Edit Student</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form role="form" action="{% url 'lecturer_edit_student' student.student.id %}" method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                <div class="card-body">
                  <div class="form-group">
                    <label>Username</label>
                    <input type="text" class="form-control" value="{{ student.student.username }}" placeholder="Username" name="username">
                  </div>

                   <div class="form-group">
                    <label>First Name</label>
                    <input type="text" class="form-control" value="{{ student.student.first_name }}" placeholder="First Name" name="firstname">
                  </div>

                   <div class="form-group">
                    <label>Last Name</label>
                    <input type="text" class="form-control" value="{{ student.student.last_name }}" placeholder="Last Name" name="lastname">
                  </div>

                        <div class="form-group">
                            <label>Select Sex</label>
                            <select class="form-control" name="sex">
                                      <option value="Male">Male</option>
                                      <option value="Female">Female</option>
                                </select> 
                    </div>

                          <div class="form-group">
                            <label>Select Level</label>
                            <select class="form-control" name="level">
                          {% for level in levels %}
                            <option value="{{ level.id }}">{{ level.std_level }}</option>
                          {% endfor %}
                                </select>    
                            </div>

                            <div class="form-group">
                              <label for="">Start Date</label>
                              <select class="form-control" name="session">
                            {% for section in sections %}
                              <option value="{{ section.id }}">{{ section.session_start_year }} To {{ section.session_end_year }}</option>
                            {% endfor %}
                        </select>
                    </div>


                      <div class="form-group">
                      {% if messages %}
                        {% for message in messages %}
                        {% if message.tags == 'error' %}
                        <div class="alert alert-danger" style="margin-top:10px">{{ message }}</div>
                        {% endif %}
                        {% if message.tags == 'success' %}
                        <div class="alert alert-success" style="margin-top:10px">{{ message }}</div>
                        {% endif %}
                        {% endfor %}
                      {% endif %}
                    </div>

                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                  <button type="submit" class="btn btn-primary btn-block">Edit Student</button>
                </div>
              </form>
            </div>
            <!-- /.card -->



          </div>
          </div>
      </div>
    </section>
    <!-- /.content -->
    {% endblock main_content %}