{% extends 'attendance/lecturer/base.html' %}
{% block page_title %}
View Attendance
{% endblock page_title %}
{% block main_content %}
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
                    <div class="row">
              <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">View Attendance</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
                <div class="card-body">
                   <div class="form-inline mr-sm-2">
                    <label class="mr-sm-2">course Code </label>
                    <select class="form-control mr-sm-2" name="courseText" id="course">
                      <option value="select">Select...</option>
                        {% for code in courses  %}
                          <option value="{{ code.id }}">{{ code.course_code }}</option>
                        {% endfor %}
                    </select>
                  
              
                    <label class="mr-sm-2">Level </label>
                    <select class="form-control mr-sm-2" name="levelText" id="level">
                      <option value="select">Select...</option>
                        {% for level in levels %}
                          <option value="{{ level.id }}">{{ level.std_level }}</option>
                        {% endfor %}
                    </select>

                    <label class="mr-sm-2">Section </label>
                    <select class="form-control mr-sm-2" name="sessionText" id="session">
                      <option value="select">Select...</option>
                        {% for session in session_years %}
                          <option value="{{ session.id }}">{{ session.session_start_year | date:"Y" }} / {{ session.session_end_year | date:"Y" }}</option>
                        {% endfor %}
                    </select>

                    <div class="form-group">
                      <button type="button" class="btn btn-primary mr-sm-2" id="fetch_attendance">Fetch Attendance</button>
                    </div>
                  </div>
                  <div class="row mt-sm-3">
                    <div class="col-12">
                      <div class="card">
                        <div class="card-header">
                          <h3 class="card-title">Attendance Report</h3>
          
                          <div class="card-tools">
                            <label for="">Search By: Date, Level, Matric Number</label>
                            <div class="input-group input-group-sm" style="width: 150px;">
                              
                              <input type="text" name="table_search" class="form-control float-right" placeholder="Search">
          
                              <div class="input-group-append">
                                <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body table-responsive p-0">
                          <table class="table table-hover text-nowrap">
                            <thead>
                              <tr>
                                <th>ID</th>
                                <th>Student</th>
                                <th>Matric Number</th>
                               
                                <th>Level</th>
                                <th>Date</th>
                                <th>Attendance Status</th>
                               
                              </tr>
                            </thead>
                            <tbody id="tableShowNot">
                           {% for rep in attendance %}
                              <tr>
                                <td>{{ rep.id }}</td>
                                <td>{{ rep.student_id.student.first_name }} {{ rep.student_id.student.last_name }}</td>
                                <td>{{ rep.student_id.matric_no }}</td>
                                
                                <td>{{ rep.student_id.level_id.std_level }}</td>
                                <td>{{ rep.created_at }}</td>
                                {% if rep.status %}
                                <td class="text-success">Presnt</td>
                                {% else %}
                                <td class="text-danger">Absent</td>
                                {% endif %}
                                
                              </tr>
                           {% endfor %}
                            </tbody>

                            <tbody id="tableShow">
                              
                               </tbody>
                          </table>
                        </div>
                        <!-- /.card-body -->
                      </div>
                      <!-- /.card -->
                    </div>
                  </div>
                  
                  
                    <div class="form-group">
                        <div class="alert alert-danger" id="error_attendance" style="display:none">

                        </div>
                    </div>
                    
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->

          </div>
          </div>
      </div>
    </section>
    <!-- /.content -->
{% endblock main_content %}
{% block custom_js %}
<script>
    $(document).ready(function(){



        $("#fetch_attendance").click(function(){
               var course=$("#course").val();
               var level=$("#level").val();
               var session=$("#session").val();

            $.ajax({
                    url:"{% url 'lecturer_get_student_attendance' %}",
                    type:'POST',
                    data:{courseText:course, levelText:level, sessionText:session},
                })
                .done(function(response){
                    var json_data=JSON.parse(response);
                    console.log(json_data)
                    if(json_data.length>0)
                    {
                        var html_data="";
                        for(key in json_data)
                        {
                            html_data += 
                              "<tr>"+
                              "<td>"+json_data[key]["id"]+"</td>"+
                              "<td>"+json_data[key]["name"]+"</td>"+
                              "<td>"+json_data[key]["matric_no"]+"</td>"+
                              "<td>"+json_data[key]["course"]+"</td>"+
                              "<td>"+json_data[key]["level"]+"</td>"+
                              "<td>"+json_data[key]["date"]+"</td>";
                              
                              if(json_data[key]["status"]){
                                html_data += "<td class = 'text-success'>Present</td>";
                              }else{
                                html_data += "<td  class = 'text-danger'>Absent</td>";
                              }
                             html_data += "</tr>";
                              
                        }
                        $("#error_attendance").html("");
                        $("#error_attendance").hide();                   
                        $("#tableShow").html(html_data);
                        $("#tableShowNot").html("");
                     }
                     else
                     {
                        $("#error_attendance").html("No Attendance Data Found");
                        $("#error_attendance").show();
                        $("#tableShowNot").show();
                        $("#tableShow").html("");
                     }
                })
                .fail(function(){
                    alert("Error in Fetching Attendance")
                    $("#error_attendance").html("");
                    $("#attendance_block").hide();
                    $("#fetch_student_block").hide();

                });


        });
        

    })
</script>
{% endblock custom_js %}
