
{% extends 'attendance/student/base.html' %}
{% block page_title %}
Add Course
{% endblock page_title %}
{% block main_content %}
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Add Course Code</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form role="form" action="{% url 'student_login_add_course' %}" method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                <div class="card-body">
                 

                  <div class="form-group">
                    <label>Select Course Codel</label>
                    <select class="form-control" name="course">
                  {% for course in courses %}
                    <option value="{{ course.id }}">{{ course.course_code }}</option>
                  {% endfor %}
                        </select>    
                    </div>
                    

                      <div class="form-group">
                      {% if messages %}
                        {% for message in messages %}
                        {% if message.tags == 'error' %}
                        <div class="alert alert-danger" style="margin-top:10px">{{ message }}</div>
                        {% endif %}
                        {% if message.tags == 'success' %}
                        <div class="alert alert-success" style="margin-top:10px">{{ message }}</div>
                        {% endif %}
                        {% endfor %}
                      {% endif %}
                    </div>

                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                  <button type="submit" class="btn btn-primary btn-block">Save</button>
                </div>
              </form>

              <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                  <thead>
                    <tr>
                      <th>S/N</th>
                      <th>Course Code</th>
                    </tr>
                  </thead>
                  <tbody>
                 {% for rep in student.course_id.all %}
                    <tr>
                      <td>{{ forloop.counter }}</td>
                      <td>{{ rep.course_code }}</td>
                      <td><a href="{% url 'student_login_remove_course' student.id %}" class="btn btn-danger">Remove</a></td>
                    </tr>
                 {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
            <!-- /.card -->



          </div>
          </div>
      </div>
    </section>
    <!-- /.content -->
    {% endblock main_content %}