{% extends '../base.html' %}
{% load static %}

{% block scripts %}
    <script src="{% static 'quizes/quiz.js' %}" defer></script>
{% endblock %}

{% block title %}
{{ quiz.name }}
{% endblock %}

{% block content %}
<b>{{ quiz.name }}</b>

<div class="row">
<div class="col-sm-6">
    <p>Pass Score: {{ quiz.required_score_to_pass }}%</p>
</div>
<div class="col-sm-6 text-right" id="time-count">
    <p></p>
</div>
</div>

<button type="submit" class="btn btn-danger"><a href="{% url 'Quiz:quiz_list' %}" class="btn btn-danger">Go Back</a></button>

<form action="" class="mt-3 mb-3" id="quiz-form">
    {% csrf_token %}
    <div id="quiz-box">
    </div>
    <button type="submit" class="btn btn-primary mt-3">Save</button>
</form>

<div id = "score-result"></div>
{% endblock %}